.teaser-m-wrapper {
    text-align: center;
}

.teaser-m-item-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.teaser-m-item {  
    max-width: 300px;
}