.teaser-m-wrapper {
    text-align: center;
}

.teaser-m-item-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.teaser-m-item {  
    max-width: 400px;
}

.teaser-m-item-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}