.image-variant {
    width: 100%;
    text-align: center;
  }
  
  .image-variant img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;    
  }
  
  .image-variant.size-s img {
    max-width: 200px;
  }
  
  .image-variant.size-m img {
    max-width: 400px;
  }
  
  .image-variant.size-l img {
    max-width: 600px;
  }
  
  .image-variant.size-xl img {
    max-width: 1000px;
  }