.article-center {
    text-align: center;
}

.article-center img {
    height: auto;
    max-height: 200px;
}

.article-center .headline {
    font-size: 1.25rem;
}

.article-center .title {
    font-weight: 300;
    font-size: 2.75rem;
    margin: 0 0 2rem 0;
}

.article-center .text {
    font-size: 1.25rem;
    line-height: 1.6em;
    margin-bottom: 1.6em;
}

.article-center a { 
    display: inline-block;
    padding: 4px 28px;
    background-color: #50e3c2;
    border-color: #50e3c2;
    color: #203367;
    font-size: 16px;    
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-out;
    border-radius: .25rem;
   
}